header{
    text-decoration-color: white;
    margin-left: 20px;
    background-color: black;
    font-weight: bolder;
    padding: 20px;
    color: white;
    background-size: 10px;
}

body {
    text-align: center;
    background-image: url("Imágenes/ImagendefondoPaginaprincipal.jpg");

}

#textointro {
    text-decoration-color: white;
    font-weight: bold;
    padding-left: inherit;
}

.imagenprot{
    padding-right: auto;

}
aside{
    margin: 50px;
    position: relative}


button{
    bottom: 90px;
}

footer{
    font-weight: bold;
    color: white;
    text-decoration-color: white;
    background: black;
    padding: 5px;
    position: fixed;
    bottom: 40px;
<<<<<<< HEAD
}
=======
}

>>>>>>> gh-pages
