header{
    color: white;
    background-color: black;
    font-weight: bolder;
    padding: inherit;
}
body {
    text-align: center;
    background-image: url("Imagenes/ImagendefondoPaginaprincipal.jpg");
}

.imagenprot{
    padding-right: auto;
}

aside{
    margin: 50px;
    position: relative;
}

button{
    bottom: 90px;
}

footer{
    font-weight: bold;
    color: white;
    text-decoration-color: white;
    background: black;
    padding: 5px;
    position: fixed;
    bottom: 40px;
}