
body {
    display: block;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("Imágenes/ImagendefondoPaginaprincipal.jpg");
    background-size: cover;
    background-position: center;
}

.img-canvas {

    height: 50vh;
    width: 60vw;
    padding: 0;
    margin: 0;
}

canvas{
    width: 350px;
    height: 200px;
    margin-left: 400px;
    background-color: white;
    padding: 100px;
    border-style: solid;
    border-color: black;

}


.Titulo1{
    border-left-width: 100px;
    background-color: black;
    color: white;
    padding: 5px;
    position: fixed;
}

.button {
    text-align: center;

}
    position: relative;
    bottom: 79px;
}




>>>>>>> gh-pages
