#titulo{
    text-decoration-color: white;
    background-color: black;
    font-weight: bolder;
    padding: inherit;
}

body {
    background-image: url("https://img1.cgtrader.com/items/148070/b23c0f179d/large/matrix-dojo-3d-model-max-mat.jpg");
    text-align: center;
    color: white;
    font-weight: bold;
    padding: inherit;
    margin: auto;
    position: relative;
    bottom: 50%;
}

#textointro {
    text-decoration-color: white;
    font-weight: bold;
    padding-left: inherit;
}

.imagenprot{
    padding-right: auto;

}
aside{
    margin: 50px;
    position: relative}


button{
    bottom: 90px;
}

.creadoras{
    font-weight: bold;
    text-decoration-color: white;
    background: black;
    padding: 5px;
    position: fixed;
    bottom: 40px;
}
